{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
  <div class="container mx-auto my-12 px-4">
    <h1 class="text-3xl font-bold mb-6">Contact Us</h1>
    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2 md:pr-12 mb-6 md:mb-0">
        <form action="#" method="POST">
          {% csrf_token %}
          <div class="mb-4">
            <label for="name" class="block text-gray-700 font-bold mb-2">Name:</label>
            <input type="text" name="name" id="name" class="appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
          </div>
          <div class="mb-4">
            <label for="email" class="block text-gray-700 font-bold mb-2">Email:</label>
            <input type="email" name="email" id="email" class="appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
          </div>
          <div class="mb-4">
            <label for="message" class="block text-gray-700 font-bold mb-2">Message:</label>
            <textarea name="message" id="message" rows="5" class="appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required></textarea>
          </div>
          <div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Send Message</button>
          </div>
        </form>
      </div>
      <div class="md:w-1/2">
        <div class="mb-4">
          <h2 class="text-lg font-bold mb-2">Address:</h2>
          <p class="text-gray-700">6 Bluewood</p> St<br>Boston, MA 02127</p>
        </div>
        <div class="mb-4">
          <h2 class="text-lg font-bold mb-2">Phone:</h2>
          <p class="text-gray-700">(617) 456-7890</p>
        </div>
        <div>
          <h2 class="text-lg font-bold mb-2">Email:</h2>
          <p class="text-gray-700">admin@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
