{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
    <div class="pb-6 grid grid-cols-4 gap-4">
        <div class="col-span-1">
            <form method="get" action="{% url 'item:items' %}">
                <input name="query" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Find sweaters, pants, sneakers, etc...">
                <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
            </form>

            <hr class="my-6">

            <p class="font-semibold">Categories</p>
    
            <ul>
                {% for category in categories %}
                    <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %} ">
                        <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <hr class="my-6">

            <p class="font-semibold">Clear filters</p>

            <ul>
                <li><a href="{% url 'item:items' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white ">Clear</a> </li>
            </ul>
    
        </div>
    
        <div class="col-span-3">
            <div class="grid grid-cols-3 gap-3">
                {% if items %}
                    {% for item in items %}
                        <div>
                            <a href="{% url 'item:detail' item.id %}">
                                <div> 
                                    <img src="{{ item.image.url }}" class="rounded-t-xl" alt="{{ item.name }}"> 
                                </div>
    
                                <div class="p-6 bg-white rounded-b-xl">
                                    <h2 class="text-2xl">{{ item.name }}</h2>
                                    <p class="text-gray-500">Price: {{ item.price }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No items found.</p>
                {% endif %}
            </div>
            {% if page_obj.has_other_pages %}
                <div class="my-4">
                    <span class="font-medium mr-4">{{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}</span>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}&amp;query={{ query }}&amp;category={{ category }}" class="mx-2 text-blue-500 hover:text-blue-700">Previous</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <span class="mx-2 font-bold">{{ num }}</span>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a href="?page={{ num }}&amp;query={{ query }}&amp;category={{ category }}" class="mx-2 text-blue-500 hover:text-blue-700">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&amp;query={{ query }}&amp;category={{ category }}" class="mx-2 text-blue-500 hover:text-blue-700">Next</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}


    